* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: whitesmoke;
}

input,
option,
select,
button {
	color: black;
}

body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Ubuntu;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	gap: 2rem;
	background-color: black;
}

.config-section {
	color: black;
}

#loader {
	display: none; /* Inicialmente oculto */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
	z-index: 9999; /* Asegura que esté por encima de otros elementos */
	text-align: center;
	color: #fff;
	font-size: 24px;
	padding-top: 50vh; /* Centra verticalmente el texto */
}

.showLoader {
	display: block !important;
}

#showColor {
	/* --dimension: 100px;
	width: var(--dimension);
	height: var(--dimension);
	border: 2px solid black;
	box-shadow: 0px 0px 78px 59px rgba(0, 0, 0, 0.1); */
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	gap: 2px;
}

#worker-img {
	max-height: 75vh;
	object-fit: cover;
	max-width: 75%;
}

#img-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
